<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_001_09_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,94},{66,76}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,76}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,366},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,298},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,94},{84,82}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{84,82}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{84,82}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{84,82}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,90}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{102,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,90}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{102,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,246},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,230},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,298},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,178},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,162},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,162},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,178},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,178},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc_001_09_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{66,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,74}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_001_09.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d569715f282dd4c11e445f56c14260e$</string>
            <key>textureFileName</key>
            <string>npc_001_09.png</string>
        </dict>
    </dict>
</plist>
