<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_001_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,234},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,234},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,176},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,176},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,176},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,176},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,292},{56,67}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,118},{56,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,118},{56,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{56,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,60},{56,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,60},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>npc_001_04_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,292},{56,51}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_001_04.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eb18a7194f081168cebcd5b7503423e$</string>
            <key>textureFileName</key>
            <string>npc_001_04.png</string>
        </dict>
    </dict>
</plist>
