<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_001_06_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{58,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{58,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{58,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,62},{64,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,62},{64,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,62},{64,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,124},{56,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{56,68}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,124},{56,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{56,68}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,124},{56,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{56,68}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{58,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,68}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{58,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,68}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{58,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,68}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc_001_06_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_001_06.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a30b45c00e0f11016bd8d70cd782c4b$</string>
            <key>textureFileName</key>
            <string>npc_001_06.png</string>
        </dict>
    </dict>
</plist>
