<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_001_05_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{56,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{56,77}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,298},{56,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{56,77}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,259},{56,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{56,77}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{56,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{56,77}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,240},{56,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{56,77}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,122},{58,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{58,77}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{58,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{58,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,87}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,62},{58,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,87}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,201},{56,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{56,77}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{56,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{56,77}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,182},{56,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{56,77}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,143},{56,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{56,77}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{56,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{56,77}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{56,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{56,81}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,83},{58,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{58,77}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{58,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>npc_001_05_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{8,75}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{8,75}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_001_05.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e6dfcda09edc2cc50dab646a1a4b61f$</string>
            <key>textureFileName</key>
            <string>npc_001_05.png</string>
        </dict>
    </dict>
</plist>
